version: 2

templates:
  base: &base
    docker:
      # TS=$(date +%s)
      # docker build ${GOPATH}/src/github.com/JulienBalestra/monitoring/.circleci/ -t julienbalestra/monitoring:${TS}
      # docker push julienbalestra/monitoring:${TS}
    - image: julienbalestra/monitoring:1624813082

jobs:
  fmt:
    <<: *base
    steps:
    - checkout
    - run: make verify-fmt

  import:
    <<: *base
    steps:
    - checkout
    - run: make verify-import

  vet:
    <<: *base
    steps:
    - checkout
    - run: make vet

  lint:
    <<: *base
    steps:
    - checkout
    - run: make lint

  test:
    <<: *base
    steps:
    - checkout
    - run: make test

  go-generate:
    <<: *base
    steps:
    - checkout
    - run: make generate
    - run: make .pristine

  monitoring-amd64:
    <<: *base
    steps:
    - checkout
    - run: make amd64
    - run: ./bin/monitoring-amd64 version

  monitoring-arm:
    <<: *base
    steps:
    - checkout
    - run: make arm

  monitoring-arm64:
    <<: *base
    steps:
    - checkout
    - run: make arm64

  example:
    <<: *base
    steps:
    - checkout
    - run: go build -o /dev/null pkg/datadog/example/example.go

workflows:
  version: 2
  workflow:
    jobs:
    - fmt
    - import
    - vet
    - lint
    - test
    - monitoring-amd64
    - monitoring-arm
    - monitoring-arm64
    - example
