[Unit]
Description=monitoring
Documentation=https://github.com/JulienBalestra/monitoring

[Service]
Environment=DATADOG_API_KEY=
Environment=DATADOG_APP_KEY=

# IOT
Environment=SHELLY_URL=

# DDOG employees
Environment=DDOG_STOCK_FILE=/home/pi/ddog-stock.json
EnvironmentFile=/etc/monitoring/environment

ExecStart=/usr/local/bin/monitoring \
    --datadog-host-tags=os:raspbian \
    --pid-file=/run/monitoring.pid \
    --log-output=stdout,datadog://zap \
    --collector-datadog-client=2m \
    --collector-load=30s \
    --collector-memory=60s \
    --collector-network-statistics=30s \
    --collector-network-wireless=60s \
    --collector-bluetooth=10s \
    --collector-shelly=5s \
    --collector-tagger=2m \
    --collector-wealth=2m
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
